@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<ul>
    <li>Name: @Model.Name</li>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number in stock: @Model.NumberInStock</li>
</ul>

